header {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  border-bottom: solid 1px gray;
  background-color: white;
  z-index: 100;
  box-shadow: -14px -6px 20px;
}

.btn-flex {
  margin: 10px 5px 10px 5px;
  width: auto;
  border: solid 1px black;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.btn-label {
  display: flex;
  text-wrap: nowrap;
  align-items: center;
  padding: 0px 10px;
}

.btn-label > h3 {
  margin: 0px;
  padding-left: 5px;
}

.btn-flex:hover, .selected {
  background-color: rgb(36, 36, 36);
  color: white;
}

a {
  color: black;
}

@media (max-width: 800px) {
  header {
    flex-wrap: wrap;
    height: 240px;
    position: relative;
  }

  .btn-flex {
    margin: 5px 0px 5px 0px;
    width: 40%;
    min-width: 250px;
  }

  .btn-label {
    justify-content: center;
  }
}